.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  justify-content: space-between;
  padding-right: 20%;
  padding-left: 20%;
}

.btn {
  background-color: #6e2479;
  height: 20%;
  width: 45%;
  text-decoration: none;
  border: 0.2px solid rgb(65, 67, 148);
  position: relative;
  overflow: hidden;
  color: white;
  font-size: 1.3rem;
}

.btn:hover {
  box-shadow: 1px 1px 25px 10px #401546;
}

.btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    #a226b6,
    transparent
  );
  transition: all 500ms;
}

.btn:hover:before {
  left: 100%;
}


@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-right: 0;
    padding-left: 0;
    padding-top: 45%;
    height: 100vh;
    padding-bottom: 45%;
  }
  .btn {
    height: 15%;
    width: 80%;
    font-size: 1rem;
  }
}  