
.item {
    background-color: #dadadb    ;
    border-radius: 18px;
    width: 30%;
    height: 30%;
    padding: 10px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

div > p {
    font-size: large;
    font-weight: 600;
}
