
.item {
    background-color: #dddde1    ;
    border-radius: 10px;
    width: 80%;
    height: 30%;
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

div > p {
    font-size: large;
    font-weight: 700;
}
